openapi: "3.0.3"
info:
  title: NekoSauce API
  description: An anime and manga sauce finding API
  version: "0.0.1"
servers:
  - url: https://nekosauce.com/api
    description: NekoSauce's API server
paths:
  /search:
    get:
      responses:
        200:
          description: The query was completed successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      $ref: "#/components/schemas/SearchResult"
    parameters:
      - in: query
        name: url
        description: An URL pointing to the image's source file
        schema:
          type: string
        required: false
      - in: query
        name: limit
        description: The maximum number of results to return
        schema:
          type: integer
          format: int32
        required: false
      - in: query
        name: threshold
        description: The lowest similarity (percentage) that can be returned
        schema:
          type: number
          format: float
        required: false
      - in: query
        name: sources
        description: The ID of the sources from where results can be
        schema:
          type: array
          items:
            type: integer
            format: int32
        required: false
      - in: query
        name: nsfw
        description: Filter the results by their NSFW status. Don't specify to return all results
        schema:
          type: boolean
        required: false
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: header
      name: Authorization
      description: "Format: `ApiKey <api-key>`"
  schemas:
    SearchResult:
      type: object
      properties:
        id:
          type: integer
          format: int64
          description: The ID of the search result
        similarity:
          type: number
          format: float
          description: The similarity (percentage) of the source with the queried image
        hash:
          type: string
          description: The image's wavelet hash
        sha512:
          type: string
          description: The image's SHA-512 hash, used for thumbnails. To generate a thumbnail URL, use `https://cdn.nekosauce.org/images/thumbnails/{sha512}.webp`
        urls:
          type: object
          properties:
            site:
              type: array
              description: A list of URLs of the sauce (human-accessible)
              items:
                type: string
                format: uri
            file:
              type: array
              description: A list of URLs that return the sauce's source file
              items:
                type: string
                format: uri
            api:
              type: array
              description: A list of URLs that will return the information for the sauce in computer-readable format (e.g. JSON)
              items:
                type: string
                format: uri
        source:
          type: integer
          format: int32
          description: The ID from the source from where the sauce was fetched
        source_site_id:
          type: string
          description: The ID of the sauce in the source from where it was fetched
        tags:
          type: array
          description: "A list of automatically-generated tags that represent different metadata from the sauce.\n\n⠀\n\nThese tags follow this format: `{source}:{resource}:{property}:{value}`."
          items:
            type: string
        sauce_type:
          type: string
          enum:
            - illustration
            - animated_illustration
            - manga
            - doujinshi
            - anime
            - visual_novel
            - light_novel
            - other
          description: The sauce's type. In other words, the sauce's format.
        is_nsfw:
          type: boolean
          nullable: true
          description: Whether the sauce is NSFW or not.
        file_meta:
          type: object
          description: An object containing metadata about the sauce's file
          properties:
            width:
              type: integer
              format: int32
              description: The sauce's image width
            height:
              type: integer
              format: int32
              description: The sauce's image height
            mimetype:
              type: string
              enum:
                - image/webp
              description: The image thumbnail's mimetype
        created_at:
          type: string
          format: date-time
          description: The date and time in which the sauce was added to NekoSauce's database
security:
  - ApiKey: []